@model MvcOnlineTicariOtomasyon.Models.Classes.Class3
@{
    ViewBag.Title = "DynamicInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <h2 class="panel-title pull-left" style="margin-left:10px;">
                <strong>Fatura & Kalem İşlemleri</strong>
            </h2>
            <button style="margin-right:10px" class="btn btn-primary pull-right" onclick="addNewOrder()">Fatura Girişi</button>
        </div>
    </div>
    @*Fatura listesi*@
    @foreach (var invoice in Model.Invoices)
    {
        <div class="panel-body">
            <table class="table table-striped table-responsive">
                <tbody>
                    <tr>
                        <td>Seri-Sıra numarası : @invoice.InvoiceSerialNumber-@invoice.InvoiceRowNumber </td>
                        <td>Cari: @invoice.Submitter</td>
                        <td>Tarih : @invoice.Date</td>
                        <td>Vergi Dairesi : @invoice.TaxAdministration</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>Açıklama</th>
                                        <th>Miktar</th>
                                        <th>Fiyat</th>
                                        <th>Tutar</th>
                                    </tr>
                                    @*@{var totalBill = 0;}*@
                                    @if (invoice.InvoicePens.Count() != 0)
                                    {
                                        foreach (var invoicePen in invoice.InvoicePens)
                                        {
                                            <tr>
                                                <td>@invoicePen.Explanation</td>
                                                <td>@invoicePen.Quantity</td>
                                                <td>@invoicePen.UnitPrice ₺</td>
                                                <td>@invoicePen.Amount ₺</td>
                                            </tr>
                                            //totalBill = totalBill + @Convert.ToInt32(invoicePen.Amount);
                                        }
                                    }
                                </tbody>
                            </table>
                            <span class="pull-right" style="margin-right:100px;"><strong>Toplam Tutar :  </strong> @invoice.Total ₺</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
</div>

@*Adım 2*@
<div class="modal fade" id="newOrderModal">
    <div class="modal-dialog modal-lg" style=" width: 900px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 style="font-weight: bold">Yeni Fatura Girişi</h4>
            </div>
            <form id="NewOrderForm">
                <div class="modal-body">
                    @*Fatura Detayları*@
                    <h5 style="color: blueviolet; font-weight: bold">Fatura Detayları</h5>
                    <hr />
                    <div class="form-horizontal">
                        <input type="hidden" id="InvoiceID" />
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Seri No
                            </label>
                            <div class="col-md-4">
                                <input type="text" id="InvoiceSerialNumber" name="InvoiceSerialNumber" placeholder="Seri Numarası" class="form-control" />
                            </div>
                            <label class="control-label col-md-2">
                                Sıra No
                            </label>
                            <div class="col-md-4">
                                <input type="text" id="InvoiceRowNumber" name="InvoiceRowNumber" placeholder="Sıra Numarası" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Tarih
                            </label>
                            <div class="col-md-4">
                                <input type="text" id="Date" name="Date" placeholder="Tarihi Giriniz" class="form-control" />
                            </div>
                            <label class="control-label col-md-2">
                                Vergi Dairesi
                            </label>
                            <div class="col-md-4">
                                <input type="text" id="TaxAdministration" name="TaxAdministration" placeholder="Vergi Dairesi" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Saat
                            </label>
                            <div class="col-md-4">
                                <input type="text" id="Hour" name="Hour" placeholder="Saat Giriniz" class="form-control" />
                            </div>
                            <label class="control-label col-md-2">
                                Teslim eden
                            </label>
                            <div class="col-md-4">
                                <input type="text" id="Submitter" name="Submitter" placeholder="Teslim Eden Cari/Personel" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Teslim Alan
                            </label>
                            <div class="col-md-4">
                                <input type="text" id="Receiver" name="Receiver" placeholder="Teslim Alan Cari/Personel" class="form-control" />
                            </div>
                            <label style="visibility: hidden" class="control-label col-md-2">
                                Toplam Tutar
                            </label>
                            <div class="col-md-4">
                                <input type="hidden" id="Total" name="Total" placeholder="Toplam Tutar" class="form-control" value="0" />
                            </div>
                        </div>
                    </div>
                    @*Fatura Kalemleri*@
                    <hr />
                    <h5 style="margin-top:10px; color: blueviolet; font-weight: bold">Fatura Kalemleri</h5>
                    <hr />
                    <div class="form-horizontal">
                        <input type="hidden" id="id" />
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Açıklama
                            </label>
                            <div class="col-md-4">
                                <input type="text" id="Explanation" name="Explanation" placeholder="Ürün/Birim Açıklamasını Giriniz" class="form-control" />
                            </div>
                            <label class="control-label col-md-2">
                                Fiyat
                            </label>
                            <div class="col-md-4">
                                <input type="number" id="UnitPrice" name="UnitPrice" placeholder="Birim Başına Fiyat Miktarı" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                Miktar
                            </label>
                            <div class="col-md-4">
                                <input type="number" id="Quantity" name="Quantity" placeholder="Miktar Giriniz" class="form-control" />
                            </div>
                            <div class="col-md-2 col-lg-offset-4">
                                <a id="addToList" class="btn btn-primary">Listeye Ekle</a>
                            </div>
                        </div>
                        <table id="detailsTable" class="table">
                            <thead>
                                <tr>
                                    <th style="width:30%">Açıklama</th>
                                    <th style="width:20%">Miktar</th>
                                    <th style="width:15%">Fiyat</th>
                                    <th style="width:25%">Tutar</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default" style="background-color: crimson; color: white" data-dismiss="modal">Kapat</button>
                    <button id="saveOrder" type="submit" class="btn btn-success">Faturayı Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

@*Adım 3*@
@section scripts{
    <script>
        //Show Modal.
        function addNewOrder() {
            $("#newOrderModal").modal();
        }
        //Add Multiple Order.
        $("#addToList").click(function (e) {
            e.preventDefault();
            if ($.trim($("#Explanation").val()) == "" || $.trim($("#UnitPrice").val()) == "" || $.trim($("#Quantity").val()) == "") return;

            var Explanation = $("#Explanation").val(),
                UnitPrice = $("#UnitPrice").val(),
                Quantity = $("#Quantity").val(),
                detailsTableBody = $("#detailsTable tbody");

            var invoiceItem = '<tr><td>' + Explanation + '</td><td>' + UnitPrice + '</td><td>' + Quantity + '</td><td>' + (parseFloat(UnitPrice) * parseInt(Quantity)) + '</td><td><a data-itemId="0" href="#" class="deleteItem btn btn-danger">Sil</a></td></tr>';
            detailsTableBody.append(invoiceItem);
            clearItem();
        });

        //After Add A New Order In The List, Clear Clean The Form For Add More Order.
        function clearItem() {
            $("#Explanation").val('');
            $("#UnitPrice").val('');
            $("#Quantity").val('');
        }

        // After Add A New Order In The List, If You Want, You Can Remove It.
        $(document).on('click', 'a.deleteItem', function (e) {
            e.preventDefault();
            var $self = $(this);
            if ($(this).attr('data-itemId') == "0") {
                $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                    $(this).remove();
                });
            }
        });

        //After Click Save Button Pass All Data View To Controller For Save Database
        function saveOrder(data) {
            return $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/Invoice/InvoiceSave",
                data: data,
                success: function (result) {
                    alert(result);
                    location.reload();
                },
                error: function () {
                    alert("Error!");
                }
            });
        }

        //Collect Multiple Order List For Pass To Controller
        $("#saveOrder").click(function (e) {
            e.preventDefault();
            var orderArr = [];
            orderArr.length = 0;

            $.each($("#detailsTable tbody tr"), function () {
                orderArr.push({
                    Explanation: $(this).find('td:eq(0)').html(),
                    UnitPrice: $(this).find('td:eq(1)').html(),
                    Quantity: $(this).find('td:eq(2)').html(),
                    Amount: $(this).find('td:eq(3)').html()
                });
            });

            var data = JSON.stringify({
                InvoiceSerialNumber: $("#InvoiceSerialNumber").val(),
                InvoiceRowNumber: $("#InvoiceRowNumber").val(),
                Date: $("#Date").val(),
                TaxAdministration: $("#TaxAdministration").val(),
                Hour: $("#Hour").val(),
                Submitter: $("#Submitter").val(),
                Receiver: $("#Receiver").val(),
                Total: $("#Total").val(),
                invoicePens: orderArr
            });

            $.when(saveOrder(data)).then(function (response) {
                console.log(response);
            }).fail(function (err) {
                console.log(err);
            });
        });
    </script>
}