@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<InvoicePen>
@{
    ViewBag.Title = "InvoiceDetail";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Fatura Kalemleri Sayfası</h2>
<br />

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"></li>
</ol>

<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Açıklama</th>
        <th>Miktar</th>
        <th>Birim Fiyat</th>
        <th>Tutar</th>
    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.InvoicePenID</td>
            <td>@i.Explanation</td>
            <td>@i.Quantity</td>
            <td>@i.UnitPrice ₺</td>
            <td>@i.Amount ₺</td>
            @*<td><a href="/Department/DepartmentEmployeeSales/@i.InvoicePenID" class="btn btn-default" style="background-color: blueviolet; color:white;">Satışlar</a></td>*@
        </tr>
    }
</table>
<br />
<a style="background-color: cornflowerblue; color: white;" href="/Invoice/InvoicePenAdd/@ViewBag.invoiceId" class="btn btn-default">Yeni Kalem Girişi</a>
<a style="background-color: crimson; color: white;" href="/Invoice/Index/" class="btn btn-default">Geri</a>